<?xml version="1.0"?>
<clickhouse>
    <logger>
        <level>information</level>
        <log>{{ clickhouse_log_dir }}/clickhouse-server.log</log>
        <errorlog>{{ clickhouse_log_dir }}/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <http_port>{{ clickhouse_http_port }}</http_port>
    <tcp_port>{{ clickhouse_tcp_port }}</tcp_port>
    <listen_host>{{ clickhouse_host }}</listen_host>

    <path>{{ clickhouse_data_dir }}</path>
    <tmp_path>{{ clickhouse_data_dir }}/tmp</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

    <mark_cache_size>5368709120</mark_cache_size>
    <max_concurrent_queries>100</max_concurrent_queries>
    <max_server_memory_usage>0</max_server_memory_usage>
    <max_thread_pool_size>10000</max_thread_pool_size>

    <remote_servers></remote_servers>
    <zookeeper></zookeeper>
    <macros></macros>

    <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
    <max_session_timeout>3600</max_session_timeout>

    <default_profile>default</default_profile>
    <default_database>default</default_database>
</clickhouse> 